body {
    font-family: 'Inter', sans-serif;
}

.btn-entrar {
    background-color:#fff ;
    border-color: #fff;
    color: #4AAC9A !important;
    margin-top: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 20px
}
.btn-entrar:hover{
    background-color:#4AAC9A ;
    color: #fff !important;
    border-color: #fff;
}

.bg-gradient-custom {
    background: linear-gradient(135deg, #4AAC9A, #319280);
    padding: 0;
}

.bg-login {
    background-color: #4AAC9A;
    align-items: center;
    justify-content: center; 
    margin-top: 110px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.background-image-login {
    background-image: url('/img/img-fundo-login.png');
    width: 100%;
    height: 89vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.txt-branco {
    color: #fff;
}

.txt-verde {
    color: #4AAC9A;
}
 .bg-fundo-img-login {
    background-color: rgba(71, 89, 71, 0.14);
    margin-top: 110px;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 60px;
    padding-bottom: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }