body {
    font-family: 'Inter', sans-serif;
}

.btn-entrar {
    background-color:#fff ;
    border-color: #fff;
    color: #000000 !important;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 10px
}
.btn-entrar:hover{
    background-color:#29166F ;
    color: #fff !important;
    border-color: #fff;
}


.txt-branco {
    color: #fff;
}

.bg-fundo-img-login {
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2; 
    padding: 0px;
}
.img-login{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.bg-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.form-login {
    width: 100%;
}

.form-group label {
    text-align: left;
    width: 100%;
    margin-top: 30px;
}

.form-group input {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}
.bg-fundo{
    background-color:#29166F;
 }